.git
.github
.dockerignore
.gitignore
.env

.env.*
.db.env.*

.backup
.fleet
.hide
.idea
.vscode
.pytest_cache/
.coverage

__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*

var
dist